<%- include('./partials/header')  %>
<%- include('./partials/navbar') %>
  <div class="content container">
    <% if (locals.user) {%>
      <h3>Welcome back <%= user.f_name %>!</h3>
      <p><%= locals.user.member ? '': 'Upgrade your membership to see message authors' %></p>
      <a href="/create-message"><button class="btn btn-primary">Post Message</button></a>
    <% } else { %>
      <h3><%= subtitle %></h3>
      <form action="/log-in" method="POST">
        <div class="form-group">
          <label for="username"></label>
          <input class="form-control" id="username" name="username" placeholder="Username" type="text" />
          <label for="password"></label>
          <input class="form-control" id="password" name="password" type="password" placeholder="Password"/>
        </div>
        <button class="button btn btn-primary" type="submit">Log In</button>
      </form>
    <%}%>
    <hr>
    <div class="container" style="">
      <% if (locals.user) {%>
        
        <% if (locals.messages.length > 0) { %>
          <% for (let x=0; x< locals.messages.length; x++) { %>
            <div class="card" style="max-width: 50rem; margin: 10px;">
              <div class="card-body">
                <h5 class="card-title"><%= locals.messages[x].headline %></h5>
                <p class="card-text"><%= locals.messages[x].message %></p>
                <p class="card-text" style="text-align: center;"><strong><%= locals.user.is_member ? locals.messages[x].user: 'Anonymous' %></strong></p>
              </div>
            </div>
          <% } %>
        <% } else { %>
        <p><strong>No messages posted.</strong></p>
        <% } %>
      <% } else { %>  
        <p><strong>Log in or sign up to see message board.</strong></p>
      <%}%>
      
    </div>


  </div>


<%- include('./partials/footer')   %>