<%- include('./partials/header')  %>
<%- include('./partials/navbar')  %>
<div class="container">
    <h3><%= subtitle %></h3>
    <% if (locals.user) { %>
        <form action="" method="POST">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Secret code...it's just down there." name="passcode">              
            </div>
            <div class="mb-3 form-check form-switch">
                <input type="checkbox" name="isAdmin" class="form-check-input">
                <label class="form-check-label form-label" for="isAdmin">Add admin privileges?</label>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit Code</button>
            </div>
        </form>
        <p>Secret code is 'secretcode'</p>
    <% } else { %>
        <p><strong>Please <a href="/">log in</a> to access this area.</strong></p>
    <% } %>
    <% if (locals.errors) { %>
        <% for (let x=0; x<errors.length; x++) {%>
            <p class="error"><%= errors[x].msg  %></p>
        <% } %>
    <% } %>
</div>



<%- include('./partials/footer')  %>